body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

h1 {
  color: #c2c2c2;
}

a {
  color: #A9CCE3;
  text-decoration: none;
  
}

a:hover {
  color: #A9CCE3;
}

a:visited {
  color: #A9CCE3;
}

section {
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  color: #333;
}

.project {
  border: 1px solid #ddd;
  margin: 1em 0;
  padding: 1em;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
